.gradle/
build/
out/
*.class
*.jar
*.war
*.ear
!chain-extension/gradle/wrapper/gradle-wrapper.jar
!chain-extension/build/
chain-extension/build/*
!chain-extension/build/libs/
chain-extension/build/libs/*
!chain-extension/build/libs/burp-request-chain.jar

.idea/
*.iml
.vscode/

.env
.env.*
!.env.example

*.log
.DS_Store
Thumbs.db
